.group-page {
  min-width: 40vw;
  max-width: 100%;
  padding: 2.5em 3em 0.5em 3em;
  list-style: none;
}

.group-page > p {
  text-align: left;
  text-transform: none;
  color: black;
  letter-spacing: 0.075em;
}

.upload-receipt {
  cursor: pointer;
}

.receipt {
  cursor: pointer;
}
